---
layout: default
id: index
active: beranda
---

<div class="uk-margin uk-grid-column-small uk-grid-row-large uk-child-width-1-3@s" uk-height-match="target: > div > .uk-card" uk-grid><!-- grids -->
{% for item in site.data.widget %}
{% for subcategory in item.subcategories %}
<div><!-- grid div -->
 <div class="uk-card uk-card-default uk-card-body"><!-- card -->
        <!-- clearfix -->
        <div class="uk-clearfix">
         <div class="uk-float-left">
          <p class="uk-text-bold uk-text-uppercase">{{ subcategory.title }}</p><!-- card title --> 
         </div>
         <div class="uk-float-right">
          <a href="{{ item.url }}" class="uk-button uk-button-text uk-text-capitalize">Lihat Semua <span uk-icon="icon: arrow-right"></span></a>
         </div>
        </div>
        <!-- /clearfix -->                 
  <div class="uk-grid-small" uk-grid><!-- begin content grids -->
   <!-- begin content imgs -->
    {% for item in subcategory.items %}
     <div class="uk-width-1-2">
      <a href="{{ item.url }}">
        <img class="uk-border-rounded" src="{{ item.img }}" width="1800" height="1200" alt="">
      </a>
     </div>
    {% endfor %}
    <!-- /End content imgs -->
  </div><!-- /End content grids -->
 </div><!-- /card -->
</div><!-- /grid div -->
{% endfor %}
{% endfor %}
</div><!-- /grids -->

<div class="uk-margin">
<a href="{{ "providers" | relative_url }}" class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom">Lihat Semua</a>
</div>

<div class="uk-large-margin">
    
<div class="uk-border-rounded uk-card uk-card-default uk-card-body uk-margin">
 <div class="uk-grid">
   <div class="uk-width-1-2">
    <div class="uk-position-left uk-flex uk-flex-middle uk-padding">
     <a href="{{ "koleksi/mahjong" relative_url }}"><h3 class="uk-heading-line">Tema Mahjong</h3></a>
    </div>
   </div>    
   <div class="uk-animation-toggle uk-width-1-2">
     <img class="uk-animation-scale-up uk-align-right" src="https://l154gamer.github.io/assets/images/feature/mahjong.png" width="60px">
   </div>
 </div>
</div>

<div class="uk-border-rounded uk-card uk-card-default uk-card-body"><!-- grids --> 
 <div class="uk-grid uk-margin">
   <div class="uk-width-1-2">
    <div class="uk-position-left uk-flex uk-flex-middle uk-padding">
     <a href="{{ "koleksi/table-games" relative_url }}"><h3 class="uk-heading-line">Table Games</h3></a>
     </div>         
    </div>    
    <div class="uk-animation-toggle uk-width-1-2">
     <div class="uk-animation-scale-up uk-align-right">
      <img src="https://l154gamer.github.io/assets/images/feature/cards.png" width="65px">
     </div>
    </div>
 </div>
</div>

<div class="uk-border-rounded uk-card uk-card-default uk-card-body uk-margin">
  <div class="uk-grid">
    <div class="uk-width-1-2">
     <div class="uk-position-left uk-flex uk-flex-middle uk-padding">
     <a href="{{ "koleksi/mesir" relative_url }}"><h3 class="uk-heading-line">Tema Mesir</h3></a>
     </div>
    </div>    
    <div class="uk-animation-toggle uk-width-1-2">
     <div class="uk-animation-scale-up uk-align-right">
      <img src="https://l154gamer.github.io/assets/images/feature/cat.png" width="50px">
     </div>
    </div>
 </div>
</div>

 </div>

<div class="uk-margin uk-card uk-card-default uk-card-body">    
 <div class="uk-grid" uk-grid><!-- begin content grids -->
  <div class="uk-width-auto">  
   <img src="./assets/donate.png" width="80" height="80" alt="Donate now">                                    
  </div>
  <div class="uk-width-expand">   
   <h3 class="uk-card-title uk-margin-remove-bottom">Donasi</h3>                                        
   <p class="uk-margin-remove-top">
    <li>Dana : <span class="uk-text-warning uk-text-bold">0881024240202</span></li>
    <li>BCA : <span class="uk-text-warning uk-text-bold">6090452515</span></li>
    <li>BRI Agro / BRI Raya : <span class="uk-text-warning uk-text-bold">001001656525319</span></li>
    <li>Atau <a class="uk-text-warning" target="_blank" href="https://www.buymeacoffee.com/l154">belikan saya ☕️</a></li>
   </p>    
  </div>
 </div>               
</div>

<div class="uk-position-relative uk-visible-toggle uk-light uk-margin" tabindex="-1" uk-slider="autoplay: true" uk-slider="center: true">
    <ul class="uk-slider-items uk-grid">
     {% for item in site.data.vendors_slider %}
        <li>
            <div class="uk-panel">
                <img src="{{ item.img }}" width="80px" height="80px" alt="{{ item.title }}">
            </div>
        </li>
     {% endfor %}
    </ul>
 </div>
 
