
  <ul class="uk-subnav uk-subnav-pill">
    <li uk-filter-control><a href="#">Semua</a></li>
    {% if page.active == "pragmatic-play" %}
    <li uk-filter-control="[data-pilih='classic']"><a href="#classic">Classic</a></li>
    <li>
        <a href="#">Line <span uk-icon="icon: triangle-down"></span></a>
        <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-dropdown-nav">
             <li uk-filter-control="[data-pilih='Megaways']"><a href="#Megaways">Megaways</a></li>
             <li uk-filter-control="[data-pilih='slotmania']"><a href="#slotmania">Slot Mania</a></li>
             <li uk-filter-control="[data-pilih='reelkingdom']"><a href="#reelkingdom">Reel Kingdom</a></li>
             <li uk-filter-control="[data-pilih='wildstreakgaming']"><a href="#wildstreakgaming">Wild Streak Gaming</a></li>
             <li uk-filter-control="[data-pilih='infini88']"><a href="#infini88">Infini 88</a></li>
             <li uk-filter-control="[data-pilih='nexus']"><a href="#nexus">Nexus</a></li>
            </ul>
        </div>
    </li>
    {% endif %}
    {% if page.active == "megaways" %}
    <li>
        <a href="#">Line <span uk-icon="icon: triangle-down"></span></a>
        <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-dropdown-nav">
             <li uk-filter-control="[data-pilih='pragmaticplay']"><a href="#pragmaticplay">Pragmatic Play</a></li>
             <li uk-filter-control="[data-pilih='yggdrasil']"><a href="#yggdrasil">YGGDrasil</a></li>
             <li uk-filter-control="[data-pilih='playtech']"><a href="#playtech">Playtech</a></li>
             <li uk-filter-control="[data-pilih='reelkingdom']"><a href="#reelkingdom">Reel Kingdom</a></li>
             <li uk-filter-control="[data-pilih='redtiger']"><a href="#redtiger">Red Tiger</a></li>
             <li uk-filter-control="[data-pilih='bgaming']"><a href="#bgaming">BGaming</a></li>
             <li uk-filter-control="[data-pilih='isoftbet']"><a href="#isoftbet">iSoftBet</a></li>
             <li uk-filter-control="[data-pilih='netent']"><a href="#netent">NetEnt</a></li>
            </ul>
        </div>
    </li>
    {% endif %}

    {% if page.active == "table-games" %}
    <li>
        <a href="#">Providers <span uk-icon="icon: triangle-down"></span></a>
        <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-dropdown-nav">
             <li uk-filter-control="[data-pilih='pragmaticplay']"><a href="#pragmaticplay">Pragmatic Play</a></li>
             <li uk-filter-control="[data-pilih='pgsoft']"><a href="#pgsoft">PG Soft</a></li>
             <li uk-filter-control="[data-pilih='netent']"><a href="#netent">NetEnt</a></li>
             <li uk-filter-control="[data-pilih='relaxgaming']"><a href="#relaxgaming">Relax Gaming</a></li>
             <li uk-filter-control="[data-pilih='bpgames']"><a href="#bpgames">Bigpot Gaming</a></li>             
            </ul>
        </div>
    </li>
    {% endif %}

    {% if page.active == "peterandsons" %}
    <li>
        <a href="#">Line <span uk-icon="icon: triangle-down"></span></a>
        <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-dropdown-nav">
             <li uk-filter-control="[data-pilih='yggdrasil']"><a href="#yggdrasil">YGGDrasil</a></li>
             <li uk-filter-control="[data-pilih='oryxgaming']"><a href="#oryxgaming">Oryx Gaming</a></li>
             <li uk-filter-control="[data-pilih='relaxgaming']"><a href="#relaxgaming">Relax Gaming</a></li>             
            </ul>
        </div>
    </li>
    {% endif %}

    {% if page.active == "microgaming" %}
    <li>
        <a href="#">Line <span uk-icon="icon: triangle-down"></span></a>
        <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-dropdown-nav">
             <li uk-filter-control="[data-pilih='rabcat']"><a href="#rabcat">Rabcat Gambling</a></li>
             <li uk-filter-control="[data-pilih='all41studios']"><a href="#all41studios">All41 Studios</a></li>
             <li uk-filter-control="[data-pilih='gameburger']"><a href="#gameburger">Gameburger Studios</a></li>
             <li uk-filter-control="[data-pilih='justforthewin']"><a href="#justforthewin">Just For The Win</a></li>
             <li uk-filter-control="[data-pilih='tripleedgestudios']"><a href="#tripleedgestudios">Triple Edge Studios</a></li>
             <li uk-filter-control="[data-pilih='spinplay']"><a href="#spinplay">SpinPlay Games</a></li>
             <li uk-filter-control="[data-pilih='neonvalleystudios']"><a href="#neonvalleystudios">Neon Valley Studios</a></li>
             <li uk-filter-control="[data-pilih='northernlights']"><a href="#northernlights">Northernlights</a></li>
             <li uk-filter-control="[data-pilih='alchemygaming']"><a href="#alchemygaming">Alchemy Gaming</a></li>
             <li uk-filter-control="[data-pilih='pulse8']"><a href="#pulse8">Pulse 8 Studios</a></li>
             <li uk-filter-control="[data-pilih='stormcraft']"><a href="#stormcraft">Stormcraft Studios</a></li>
             <li uk-filter-control="[data-pilih='foxium']"><a href="#foxium">Foxium</a></li>
             <li uk-filter-control="[data-pilih='goldcoin']"><a href="#goldcoin">Gold Coin Studios</a></li>
             <li uk-filter-control="[data-pilih='fortunefactory']"><a href="#fortunefactory">Fortune Factory Studios</a></li>
            </ul>
        </div>
    </li>
    {% endif %}
    
    {% if page.active == "pgsoft" %}
    <li uk-filter-control="[data-pilih='buyspin']"><a href="#buyspin">Beli Spin</a></li>
    {% endif %}

    {% if page.url == "./table-games" %}
     {% else %}  
      <li uk-filter-control="[data-pilih='casino']"><a href="#casino">Table Games</a></li> 
     {% endif %}
        
    {% if page.active == "isoftbet" %}
    <li uk-filter-control="[data-pilih='megaways']"><a href="#megaways">Megaways</a></li>
    {% endif %}

    {% if page.active == "yggdrasil" %}
    <li uk-filter-control="[data-pilih='megaways']"><a href="#megaways">Megaways</a></li>
    {% endif %}

    {% if page.active == "reel-kingdom" %}
    <li uk-filter-control="[data-pilih='megaways']"><a href="#megaways">Megaways</a></li>
    {% endif %}

    {% if page.active == "playtech" %}
    <li uk-filter-control="[data-pilih='megaways']"><a href="#megaways">Megaways</a></li>
    {% endif %}

    {% if page.active == "redtiger" %}
    <li uk-filter-control="[data-pilih='megaways']"><a href="#megaways">Megaways</a></li>
    {% endif %}

    {% if page.active == "bgaming" %}                                                            
    <li uk-filter-control="[data-pilih='megaways']"><a href="#megaways">Megaways</a></li>
    {% endif %}

    {% if page.active == "gameburger-studios" %}                                                            
    <li uk-filter-control="[data-pilih='megaways']"><a href="#megaways">Megaways</a></li>
    {% endif %}

    {% if page.active == "relaxgaming" %}                                                            
    <li uk-filter-control="[data-pilih='megaways']"><a href="#megaways">Megaways</a></li>
    {% endif %}

    {% if page.active == "netent" %}                                                            
    <li uk-filter-control="[data-pilih='megaways']"><a href="#megaways">Megaways</a></li>
    {% endif %}
    
  </ul>
      
  <div class="uk-button-group"><!-- Buttons group -->
    <button id="grid" uk-icon="icon: thumbnails" class="uk-button uk-button-default active"></button>
    <button id="list" uk-icon="icon: list" class="uk-button uk-button-default"></button>
    <form class="uk-search uk-search-default">
    <span uk-search-icon></span>
    <input id="myfilter" class="uk-form-width-small uk-search-input" type="search" placeholder="Cari di {{ page.title }}" aria-label="Search">
    </form>   
  </div><!-- /Buttons group -->
