<div id="modal" class="uk-modal-full" uk-modal>
 <div class="uk-modal-dialog">
  <button onClick="hideModal()" class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
  <div class="uk-cover-container" uk-height-viewport>
   <iframe 
      name="modal_iframe" 
      id="game-slot"
      src="" 
      width="100%" 
      height="680px" 
      frameborder="0" 
      allow="autoplay; encrypted-media" 
      donotallowfullscreen>
      <p>Your browser does not support iframes.</p>
   </iframe>    
  </div> 
 </div>
</div>
