<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/js/uikit.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/uikit@3.16.23/dist/js/uikit-icons.min.js"></script>     
<script type="text/javascript" src="https://l154gamer.github.io/assets/js/theme.js"></script>
<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $('#grid').click(function(event) {
    event.preventDefault()
    $('.bc').addClass('grid')
    $('.bc').removeClass('list')
    localStorage.setItem('.bc', 'grid');
  });
  $('#list').click(function(event){
    event.preventDefault();
    $('.bc').addClass('list')
    $('.bc').removeClass('grid')
    localStorage.setItem('.bc', 'list')
  })
  let itemClass = localStorage.getItem('.bc')
  $('.bc').addClass(itemClass)
});
</script>    
<script>
function showModal()
{
  $('#modal').show();
}
function hideModal()
{
  $('#modal').hide();
}
</script>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const inputEl = document.getElementById('myfilter');
    const tags = Array.from(document.querySelectorAll('.uk-card'));

    inputEl.addEventListener('keyup', () => {
        const value = inputEl.value;

        tags.forEach(tag => {
            if (tag.textContent.includes(value)) {
                tag.parentNode.style.display = 'block'
            } else {
                tag.parentNode.style.display = 'none'
            }
        })
    })
})    
</script>
<script>
window.addEventListener("load", function(event) {
  //hash = document.location.hash;
  //console.log("Hash: " + hash);
  //Let's assume the document.location.hash returns #white
  hash = '#semua';
  if (hash !== "") {
    //get the color subnav button
    pilih = document.querySelector('a[href="'+hash+'"]');
    //trigger the click event
    pilih.click();
  }
});
</script>
<script>
$(document).ready(function() {
    $("#not-available").addClass("disable");
});	
</script>    
<script>
   (function ($) {
      $.fn.btnLoadmore = function (options) {
        var defaults = {
            showItem: 6
            , whenClickBtn: 3
            , textBtn: 'Loadmore ...'
            , classBtn: ''
            , setCookies: false
            , delayToScroll: 2000,
            
          }
          , options = $.extend(defaults, options);
        
        this.each(function () {
          
          var $this = $(this)
            , $childrenClass = $($this.children());
          
          // Get Element Of contents to hide
          $childrenClass.hide(); // nascondi tutti gli elementi
          
          //Show Element from Options
          $childrenClass.slice(0, defaults.showItem)
            .show(); // mostra il primo
          
          //Show Button when item in contents != 0
          if ($childrenClass.filter(":hidden")
            .length > 0) {
            $this.after('<button style="margin-top: 20px;" type="button" class="btn-loadmore ' + defaults.classBtn + '">' + defaults.textBtn + '</button>')
          }
         $(document).on('click', '.btn-loadmore', function (e) {
              e.preventDefault();
              $childrenClass.filter(':hidden').slice(0, defaults.whenClickBtn).slideDown();
              if ($childrenClass.filter(":hidden").length == 0) {
                  $(".btn-loadmore").fadeOut('slow');
              }
              scrollDown();
          });
          
          function scrollDown() {
            $('html, body')
              .animate({
                scrollTop: $childrenClass.filter(":visible")
                  .last()
                  .offset()
                  .top
              }, defaults.delayToScroll);
          }
        });
        
        
        
      }
    }(jQuery));
   $(document)
      .ready(function () {
        
        $('.contents')
          .btnLoadmore({
            
            showItem: 12,
            
            whenClickBtn: 6,
            
            textBtn: 'Tampilkan lagi...',
            
            classBtn: 'uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom'
            
          });
        
      });
                 
</script>
