<!DOCTYPE html>
<html data-theme="light">
<head>
 {% include head.html %}
</head>
<body>
{% include navbar.html %}
<div class="uk-margin uk-section-large"><!-- Section -->
 <div data-uk-filter=".js-filter" class="uk-container"><!-- Container -->
  {% if page.url == "/" %}
   {% else %}  
    <h3 class="uk-heading-line uk-text-center"><span>{{ page.title }}</span></h3> 
  {% endif %}
  {{ content }}    
 </div><!-- /Container -->    
</div><!-- /Section -->    
<!-- JS -->
{% include scripts.html %}
</body>
</html>
